aioredis<2
click
bmt
deepdiff
fastapi==0.83.0
httptools
jsonschema
pytest
pytest-cov
pytest-asyncio
pyyaml
pydantic<2
reasoner-pydantic<5
redis
redis-py-cluster
requests
testcontainers
uvicorn
uvloop
gunicorn
orjson
httpx

# To support Open Telemetry
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
