openapi: 3.0.2
info:
  title: Node Normalization
  version: 2.5.1
  contact:
    email: bizon@renci.org
    name: Chris Bizon
    x-id: https://github.com/cbizon
    x-role: responsible developer
  description: 'Node Normalization takes a CURIE, and returns: <ol> <li>The preferred
    CURIE for this entity <li>All other known equivalent identifiers for the entity
    <li>Semantic types for the entity as defined by the <a href="https://biolink.github.io/biolink-model/">Biolink
    Model</a> </ol> The data served by Node Normalization is created by <a href="https://github.com/NCATSTranslator/Babel">Babel</a>,
    which attempts to find identifier equivalences, and makes sure that CURIE prefixes
    are BioLink Model Compliant. Babel decides which identifiers are equivalent, which one is
    preferred, and what a clique is called, so most questions about why a clique looks the way it
    does are really questions about Babel: see
    <a href="https://github.com/NCATSTranslator/NodeNormalization/blob/master/documentation/Babel.md">Where NodeNorm''s data comes from</a>.
    The <code>babel_version</code> reported by /status identifies exactly which Babel build this
    instance is serving. To determine whether Node Normalization is likely
    to be useful, check /get_semantic_types, which lists the BioLink semantic types
    for which normalization has been attempted, and /get_curie_prefixes, which lists
    the number of times each prefix is used for a semantic type. You can find out more about these API methods at the
    <a href="https://github.com/NCATSTranslator/NodeNormalization/blob/master/documentation/API.md">Node Normalization API documentation</a>.'
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://toss.apps.renci.org/tos?service_long=Node+Normalization&provider_long=the+Translator+Consortium
  x-translator:
    component: Utility
    team:
      - Standards Reference Implementation Team
    infores: "infores:sri-node-normalizer"
  x-trapi:
    version: 1.5.0
    operations:
      - annotate_nodes

servers:
  - description: Default server
    url: https://nodenormalization-sri.renci.org/
  - description: Localhost
    url: http://localhost:2434/

tags:
  - name: translator
  - name: Interfaces
  - name: trapi
